In [7]:
#Task 3 solution
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,88.00,Clear,-33.65,115.33,Observatory Guest House
1,1,Faya,SA,60.80,Clear,18.39,42.45,مقبرة ال مجمل
2,4,Port Hedland,AU,93.20,Clouds,-20.32,118.57,The Esplanade Hotel
3,5,Hithadhoo,MV,84.81,Clouds,-0.60,73.08,Scoop Guest House
4,6,Klaksvik,FO,35.60,Clouds,62.23,-6.59,Airbnb rooms

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Latitude-longitude pairs
geneva = (46.2, 6.1)
montreux = (46.4, 6.9)
zurich = (47.4, 8.5)

fig = gmaps.figure()
geneva2zurich_via_montreux = gmaps.directions_layer(
        geneva, zurich, waypoints=[montreux],
        travel_mode='BICYCLING')
fig.add_layer(geneva2zurich_via_montreux)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
us_cities_data_df = city_data_df.loc[city_data_df['Country'] == 'US']
us_cities_data_df.City.unique()

array(['Jamestown', 'Evanston', 'Albany', 'Laguna', 'Hilo', 'Kapaa',
       'Bethel', 'Lompoc', 'Kodiak', 'San Ramon', 'Dickinson',
       'Forestville', 'Portland', 'Westport', 'Russell', 'Wilmington',
       'Fortuna', 'Pacifica', 'Hamilton', 'San Jose', 'Sitka', 'Palmer',
       'Lubbock', 'Mountain Home', 'Nassau', 'Aransas Pass',
       'Hilton Head Island', 'Stephenville', 'Griffith', 'Saint George',
       'Brownwood', 'Kahului', 'Ketchikan', 'Conway', 'Albion',
       'Meadville', 'Roma', 'Broome', 'Buckeye', 'Bullhead City',
       'Cedar City', 'Ocean City', 'Great Falls', 'Douglas'], dtype=object)

In [77]:
sanjose_data_df = us_cities_data_df.loc[us_cities_data_df['City'] == 'San Jose']
sanramon_data_df = us_cities_data_df.loc[us_cities_data_df['City'] == 'San Ramon']
westport_data_df = us_cities_data_df.loc[us_cities_data_df['City'] == 'Westport']
mountainhome_data_df = us_cities_data_df.loc[us_cities_data_df['City'] == 'Mountain Home']
portland_data_df = us_cities_data_df.loc[us_cities_data_df['City'] == 'Portland']
portland_data_df = portland_data_df.head(1)

In [78]:
sanjose_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
343,463,San Jose,US,66.2,Clear,37.34,-121.89,The Westin San Jose

In [79]:
sanramon_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
138,181,San Ramon,US,66.2,Clear,37.78,-121.98,San Ramon Marriott

In [80]:
westport_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
239,331,Westport,US,52.0,Rain,41.14,-73.36,The Westport Inn

In [81]:
mountainhome_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
555,719,Mountain Home,US,44.6,Clouds,43.13,-115.69,Mountain Home Inn

In [82]:
portland_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
174,230,Portland,US,50.0,Clouds,45.52,-122.68,Portland Marriott City Center

In [83]:
sanjose_lat_list=[]
lat = float(sanjose_data_df['Lat'])
lng = float(sanjose_data_df['Lng'])
sanjose_lat_list.append(lat)
sanjose_lat_list.append(lng)
sanjose_lat_list



#for row in sanjose_data_df.itertuples():
   # lat = row.Lat
    #lng = row.Lng
    #mylist=[row.Lat, row.Lng]
    #sanjose_lat_list.append(lat)
    #sanjose_lat_list.append(lng)''''''

[37.34, -121.89]

In [84]:
sanramon_lat_list=[]
lat = float(sanramon_data_df['Lat'])
lng = float(sanramon_data_df['Lng'])
sanramon_lat_list.append(lat)
sanramon_lat_list.append(lng)
sanramon_lat_list

[37.78, -121.98]

In [85]:
westport_lat_list=[]
lat = float(westport_data_df['Lat'])
lng = float(westport_data_df['Lng'])
westport_lat_list.append(lat)
westport_lat_list.append(lng)
westport_lat_list

[41.14, -73.36]

In [86]:
mountainhome_lat_list=[]
lat = float(mountainhome_data_df['Lat'])
lng = float(mountainhome_data_df['Lng'])
mountainhome_lat_list.append(lat)
mountainhome_lat_list.append(lng)
mountainhome_lat_list

[43.13, -115.69]

In [87]:
portland_lat_list=[]
lat = float(portland_data_df['Lat'])
lng = float(portland_data_df['Lng'])
portland_lat_list.append(lat)
portland_lat_list.append(lng)
portland_lat_list

[45.52, -122.68]

In [91]:
# Latitude-longitude pairs
#geneva = (46.2, 6.1)
#montreux = (46.4, 6.9)
#zurich = (47.4, 8.5)

fig = gmaps.figure()
sanjose2mountainhome_via_sanramonandportland = gmaps.directions_layer(
        sanjose_lat_list, mountainhome_lat_list, waypoints=[sanramon_lat_list, portland_lat_list],
        travel_mode='DRIVING')
fig.add_layer(sanjose2mountainhome_via_sanramonandportland)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

In [99]:
df_list=[sanjose_data_df, sanramon_data_df, portland_data_df, mountainhome_data_df]
cities_df = pd.concat(df_list)
cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
343,463,San Jose,US,66.2,Clear,37.34,-121.89,The Westin San Jose
138,181,San Ramon,US,66.2,Clear,37.78,-121.98,San Ramon Marriott
174,230,Portland,US,50.0,Clouds,45.52,-122.68,Portland Marriott City Center
555,719,Mountain Home,US,44.6,Clouds,43.13,-115.69,Mountain Home Inn

In [102]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [104]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = cities_df[["Lat", "Lng"]]
max_temp = cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))