In [1]:
#Task 2 solution
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches(last 3hrs),Snow inches(last 3hrs)
0,0,Busselton,AU,2020-03-03 05:24:21,-33.65,115.33,88.00,19,0,12.03,Clear,0.00,0.0
1,1,Faya,SA,2020-03-03 05:24:21,18.39,42.45,60.80,37,5,5.79,Clear,0.00,0.0
2,2,Rikitea,PF,2020-03-03 05:23:03,-23.12,-134.97,79.43,84,100,20.51,Rain,2.31,0.0
3,3,Chokurdakh,RU,2020-03-03 05:24:22,70.63,147.92,0.88,83,93,13.76,Clouds,0.00,0.0
4,4,Port Hedland,AU,2020-03-03 05:24:22,-20.32,118.57,93.20,56,19,13.87,Clouds,0.00,0.0

In [3]:
city_data_df.dtypes

City_ID                     int64
City                       object
Country                    object
Date                       object
Lat                       float64
Lng                       float64
Max Temp                  float64
Humidity                    int64
Cloudiness                  int64
Wind Speed                float64
Current Description        object
Rain inches(last 3hrs)    float64
Snow inches(last 3hrs)    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent rainfall
locations = city_data_df[["Lat", "Lng"]]
rain = city_data_df["Rain inches(last 3hrs)"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=rain, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent snow fall
locations = city_data_df[["Lat", "Lng"]]
snow = city_data_df["Snow inches(last 3hrs)"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=snow, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 200

In [48]:
raining = input("Do you want it to be raining? (yes/no) ")
snowing = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [49]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
if raining == 'yes' and snowing == 'yes':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Rain inches(last 3hrs)"] > 0.0) &
                                                 (preferred_cities_df['Snow inches(last 3hrs)'] > 0.0)]

elif raining == 'yes' and snowing =='no':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Rain inches(last 3hrs)"] > 0.0) &
                                                  (preferred_cities_df["Snow inches(last 3hrs)"] == 0.0)]
elif snowing == 'yes' and raining == 'no':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Snow inches(last 3hrs)"] > 0.0) &
                                                  (preferred_cities_df["Rain inches(last 3hrs)"] == 0.0)]
else:
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Snow inches(last 3hrs)"] == 0.0) &
                                                  (preferred_cities_df["Rain inches(last 3hrs)"] == 0.0)]
    
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches(last 3hrs),Snow inches(last 3hrs)
0,0,Busselton,AU,2020-03-03 05:24:21,-33.65,115.33,88.00,19,0,12.03,Clear,0.0,0.0
1,1,Faya,SA,2020-03-03 05:24:21,18.39,42.45,60.80,37,5,5.79,Clear,0.0,0.0
4,4,Port Hedland,AU,2020-03-03 05:24:22,-20.32,118.57,93.20,56,19,13.87,Clouds,0.0,0.0
5,5,Hithadhoo,MV,2020-03-03 05:24:22,-0.60,73.08,84.81,63,64,5.66,Clouds,0.0,0.0
6,6,Klaksvik,FO,2020-03-03 05:24:22,62.23,-6.59,35.60,80,83,8.05,Clouds,0.0,0.0
7,7,Punta Arenas,CL,2020-03-03 05:24:22,-53.15,-70.92,50.00,76,75,8.05,Clouds,0.0,0.0
8,8,Vaini,TO,2020-03-03 05:24:23,-21.20,-175.20,82.40,78,20,6.93,Clouds,0.0,0.0
9,9,Jamestown,US,2020-03-03 05:21:44,42.10,-79.24,45.00,100,90,8.05,Fog,0.0,0.0
10,10,Conakry,GN,2020-03-03 05:24:23,9.54,-13.68,74.66,84,0,3.96,Clear,0.0,0.0
12,12,Vaini,TO,2020-03-03 05:24:23,-21.20,-175.20,82.40,78,20,6.93,Clouds,0.0,0.0

In [50]:
preferred_cities_df.count()

City_ID                   1015
City                      1015
Country                   1005
Date                      1015
Lat                       1015
Lng                       1015
Max Temp                  1015
Humidity                  1015
Cloudiness                1015
Wind Speed                1015
Current Description       1015
Rain inches(last 3hrs)    1015
Snow inches(last 3hrs)    1015
dtype: int64

In [52]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Busselton,AU,88.00,Clear,-33.65,115.33,
1,Faya,SA,60.80,Clear,18.39,42.45,
4,Port Hedland,AU,93.20,Clouds,-20.32,118.57,
5,Hithadhoo,MV,84.81,Clouds,-0.60,73.08,
6,Klaksvik,FO,35.60,Clouds,62.23,-6.59,
7,Punta Arenas,CL,50.00,Clouds,-53.15,-70.92,
8,Vaini,TO,82.40,Clouds,-21.20,-175.20,
9,Jamestown,US,45.00,Fog,42.10,-79.24,
10,Conakry,GN,74.66,Clear,9.54,-13.68,
12,Vaini,TO,82.40,Clouds,-21.20,-175.20,

In [53]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [54]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [55]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Busselton,AU,88.00,Clear,-33.65,115.33,Observatory Guest House
1,Faya,SA,60.80,Clear,18.39,42.45,مقبرة ال مجمل
4,Port Hedland,AU,93.20,Clouds,-20.32,118.57,The Esplanade Hotel
5,Hithadhoo,MV,84.81,Clouds,-0.60,73.08,Scoop Guest House
6,Klaksvik,FO,35.60,Clouds,62.23,-6.59,Airbnb rooms

In [56]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")